@font-face {
     font-family: "GangwonEduPowerExtraBoldA";
     src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff")
          format("woff");
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: "Pretendard-Regular";
     src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
          format("woff");
     font-weight: 400;
     font-style: normal;
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

ul {
     list-style: none;
}
a {
     text-decoration: none;
     color: black;
}

.map h4 {
     padding-left: 5%;
     margin: 40px 0;
}
.map .link {
     display: flex;
     flex-direction: column;
     gap: 15px;
     width: 90%;
     margin: 0 auto;
     background-color: white;
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
     border-radius: 10px;
     padding: 20px 0;
}
.map .link li {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 20px;
}
.map .link li div {
     display: flex;
}
.link li div a {
     margin-right: 3px;
}

.link li div a:first-child {
     width: 30px;
     height: 30px;
     position: relative; /* 부모 요소의 위치를 상대적으로 설정 */
     background-color: #424242; /* 배경색 설정 */
     display: inline-block; /* 링크를 블록처럼 보이게 하기 위해 설정 */
     padding: 10px; /* 여백 추가 (필요에 따라 조정) */
     border-radius: 50%; /* 부모 요소도 원 모양으로 만들기 */
}

.link li div a:first-child img {
     position: absolute; /* 이미지 위치 절대 설정 */
     top: 50%; /* 수직 중앙 정렬 */
     left: 50%; /* 수평 중앙 정렬 */
     transform: translate(-50%, -50%); /* 이미지가 정확히 중앙에 오도록 조정 */
}

.link li div a:nth-child(2) {
     width: 30px;
     height: 30px;
     position: relative; /* 부모 요소의 위치를 상대적으로 설정 */
     background-color: #03c75a; /* 배경색 설정 */
     display: inline-block; /* 링크를 블록처럼 보이게 하기 위해 설정 */
     padding: 10px; /* 여백 추가 (필요에 따라 조정) */
     border-radius: 50%; /* 부모 요소도 원 모양으로 만들기 */
}

.link li div a:nth-child(2) img {
     position: absolute; /* 이미지 위치 절대 설정 */
     top: 50%; /* 수직 중앙 정렬 */
     left: 50%; /* 수평 중앙 정렬 */
     transform: translate(-50%, -50%); /* 이미지가 정확히 중앙에 오도록 조정 */
}

@media screen and (min-width: 800px) {
     .map .link {
          flex-direction: row;
          align-items: center;
          gap: 10px;
     }
     .map .link li {
          width: 33%;
          padding: 5px;
          justify-content: center;
          justify-content: center;
          border-right: 1px solid #333;
     }
     .map .link li:last-child {
          border: none;
     }
     .map .link li p {
          margin-right: 10px;
     }
}
